
body{
    color: white;
    background-image: url("assets/universe.jpg");
    background-size: cover;
}

.container{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: 10px;
}

.btn-apply{
    border: none;
    padding: 10px 20px;
    background: white;
    font-family: inherit;
}