

@font-face {
    font-family: spacefont;
    src: url("assets/fonts/SpaceQuest-Xj4o.ttf");
}
body{
    color: white;
    background-image: url("assets/images/galaxy.gif");
    background-size: cover;
}

.container{
    /* font-family: spacefont; */
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: 10px;
}

.btn-apply{
    border: none;
    padding: 10px 20px;
    background: white;
    font-family: inherit;
}
.expHeading{
    /* text-decoration: underline; */
    border-bottom: 4px solid white;
}

#logo{
    width: 150px;
}