

@font-face {
    font-family: spacefont;
    src: url("assets/fonts/SpaceQuest-Xj4o.ttf");
}
body{
    /* font-family: spacefont; */
    font-family: 'Orbitron', sans-serif;
    color: #354A6C;
    margin: 0;
    text-align: center;
}

.container{
    background-image: url("assets/images/galaxy.gif");
    background-size: cover;
    padding: 10px 0 40px 0;
    text-shadow: 0 0 4px black;
}

.btn-apply{
    border: none;
    padding: 10px 20px;
    background: white;
    font-family: inherit;
    font-weight: bold;
}
.expHeading{
    /* text-decoration: underline; */
    border-bottom: 4px solid white;
}

#logo{
    width: 150px;
}